%h1 Spyrolous
.pure-g-r
  .pure-u-1-5.side
    #circle{class:"pure-button"} circle
    %label Radius
    %input{type:"number", id:"circleRadius", class:"numInput", value:"50"}
    %br
    #rectangle{class:"pure-button"} rectangle
    %label height
    %input{type:"number", id:"rectHeight", class:"numInput", value:"50"}
    %label width
    %input{type:"number", id:"rectWidth", class:"numInput", value:"50"}
    %hr
    %i{class:"pure-button fa fa-circle fa-2x red", id:"fillRed"}
    %i{class:"pure-button fa fa-circle fa-2x blue", id:"fillBlue"}
    %i{class:"pure-button fa fa-circle fa-2x green", id:"fillGreen"}
    %i{class:"pure-button fa fa-circle-o fa-2x red", id:"strokeRed"}
    %i{class:"pure-button fa fa-circle-o fa-2x blue", id:"strokeBlue"}
    %i{class:"pure-button fa fa-circle-o fa-2x green", id:"strokeGreen"}


  #spyro.pure-u-3-5
    %svg{id:"canvas", class:"pure-u-1"}
    / <canvas id="dude" width="500" height="500" style = "border:2px solid black" ></canvas>
  .pure-u-1-5.side
    -@canvas.layers.each do |l|
      .layerThumb{layer_id:"#{l.id}"}
        =l.id
      %br

<script>
:plain
  var canvas_id = "#{params[:id]}"
  var a,
      b;
  $(document).ready(function(){

- @canvas.layers.each do |l|
  /draw circles to the canvas
  -l.circles.each do |c|
    :plain
      a = s.circle(#{c.x},#{c.y},#{c.radius});
      a.node.id = "#{c.id}";
  /draw rectangles to the canvas
  -l.rectangles.each do |r|
    :plain
      b = s.rect(#{r.x},#{r.y},#{r.width},#{r.height});
      b.node.id = "#{r.id}";
  /have to call these after svg objects have been loaded
  deleteCircle();
  deleteRect();
  colorButtons();
  });
</script>