%h1 Spyrolous
.pure-g-r
  .pure-u-1-5.side
    #circle{class:"pure-button"} circle
    %label Radius
    %input{type:"number", id:"circleRadius", class:"numInput", value:"50"}
    %br
    #rectangle{class:"pure-button"} rectangle
    %label height
    %input{type:"number", id:"rectHeight", class:"numInput", value:"50"}
    %label width
    %input{type:"number", id:"rectWidth", class:"numInput", value:"50"}

  #spyro.pure-u-3-5
    %svg{id:"canvas", class:"pure-u-1"}
    / <canvas id="dude" width="500" height="500" style = "border:2px solid black" ></canvas>
  .pure-u-1-5.side
    -@canvas.layers.each do |l|
      .layerThumb{layer_id:"#{l.id}"}
        =l.id
      %br

:javascript
  var canvas_id = "#{params[:id]}"

/draw circles to the canvas
- @canvas.layers.each do |l|
  -l.circles.each do |c|
    :javascript
      $(document).ready(function(){
      s.circle(#{c.x},#{c.y},#{c.radius})
      });